@{
    ViewData["Title"] = "Home Page";
}
<h1>Merhaba Barış</h1>
<h1> MARABA</h1>
<p>Nihat hoca çok gergin </p>
<div class="text-center">
    <summary>nolmuskıne?</summary>
    <p>Merhaba ben Miray. Barış abiyle ortak proje yapıyoruz.</p>
</div>
<p>jmyjjm</p>
<p>barısabey</p>
<summry>deneme gondermesi</summry>
<p>denedim</p>


<h1>yeter</h1>



<h2>pushlamıcam</h2>
